@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

[role=row], .MuiDataGrid-container--bottom {
  background: transparent !important;
}
.css-1hr2sou-MuiTablePagination-root{
  color: white !important
}

.Mui-focused, .MuiOutlinedInput-notchedOutline {
  border-color: #888 !important 
}

.MuiOutlinedInput-input{
  color: white !important
}